@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  @apply font-semibold text-sm py-2 px-4 rounded cursor-pointer no-underline;
}

.btn-default {
  @apply bg-blue-600 border border-gray-400 text-white;

  &:hover, &:focus {
    @apply border-gray-500 bg-blue-500;
  }
}

.link {
  @apply no-underline;

  &:hover, &:focus {
    @apply text-gray-700;
  }
}

.input {
  @apply appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight;
}

.input:focus {
  @apply outline-none bg-white border-gray-400;
}

.label {
  @apply block text-sm font-bold mb-2;
}

.select {
  @apply appearance-none py-3 px-4 pr-8 block w-full bg-gray-100 border border-gray-300 text-gray-700
   rounded leading-tight;
   -webkit-appearance: none;
}

.select:focus {
  @apply outline-none bg-white border-gray-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}